{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" />
{% if book %}
    <title>{{book.title}}</title>
  {% else %}
  <title>Bookinfo</title>
  {% endif %}
    <style>
        body {
            background-color: #00000027;
        }

        .navbar {
            background-color: #000000ad;
            z-index: 10;
        }

        .nav-item {
            padding: 0.4rem 1rem;
        }

        .jumbotron {
            position: relative !important;
            background-image: url("{% static 'img/bg.jpg' %}");
            background-repeat: no-repeat;
            background-size: cover;
            padding: 0;
        }

        .book {
            width: 100%;
            margin: auto;
            padding: 1rem;
            border: 2px solid black;
        }


        .book-img {
            width: 400px;
            height: 400px;
        }

        .book-img img {
            width: 100%;
            height: 100%;
        }

        .modal-body {
            position: relative;
            background-image: url("{% static 'img/bg.jpg' %}");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            color: #ffffff;
            font-weight: 500;
        }

        .modal-body::before {
            content: "";
            position: absolute;
            background-color: #0000007d;
            top: 0px;
            right: 0px;
            bottom: 0px;
            left: 0px;
        }

        .modal-body form {
            position: relative;
            color: #ffffff;
            z-index: 3;
        }

        .modal-header {
            background-color: #000000ad;
            color: #ffffff;
        }
    </style>
</head>

<body>
    <div class="jumbotron main-container">
        <nav class="navbar navbar-expand-lg navbar-dark">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'img/logo.png' %}"alt="LOGO" height="40px" width="40px">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto text-left">
                        <li class="nav-item ">
                            <a class="nav-link" href="{% url "home" %}"><i class="fas fa-home"></i>Home </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'explore' %}"><i class="fa fa-book-reader"></i> BookShelf</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="#" data-toggle="modal" data-target="#requestModal"><i
                                    class="fa fa-book"></i> Request book</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link " href="#" data-toggle="modal" data-target="#contactModal"><i
                                    class="fa fa-address-book"></i> Contact
                                us</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url "home" %}">Home</a></li>
                <li class="breadcrumb-item"><a href="{% url "explore" %}">Library</a></li>
                <li class="breadcrumb-item active" aria-current="page"><a href="/{{book.zonar}}">{{book.zonar}}</a></li>
                <li class="breadcrumb-item active" aria-current="page">{{book.title}}</li>
            </ol>
        </nav>
    </div>

    <div class="container">
        <div class="book row">
            <div class="book-img col-12 col-md-3">
                <img src="/static/{{book.zonar}}/{{book.title}}.jpg" alt="BookThumbnail">
            </div>
            <div class="book-info col-12 col-md-9">
                <div>
                    <h1>{{book.title}}</h1>
                </div>
                <div>
                    <p>
                      {{book.description}}
                    </p>
                </div>
                <div>
                    <a href ="/static/{{book.zonar}}/{{book.title}}.pdf"class="btn btn-primary" download ><i class="fa fa-download"></i>Download</a>
                </div>
            </div>
        </div>
    </div>




     <!--REQUEST MODAL -->
     <div class="modal fade" id="requestModal" tabindex="-1" aria-labelledby="requestModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="requestModalLabel">Request a book</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="fullName" class="col-3 col-form-label">Full Name</label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="fullName" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="inputEmail3" class="col-3 col-form-label">Email</label>
                            <div class="col-9">
                                <input type="email" class="form-control" id="inputEmail3" required>
                                <small id="emailHelp" class="text-warning">We'll never share your email with anyone
                                    else.</small>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="bookName" class="col-3 col-form-control">Book Name</label>
                            <div class="col-9">
                                <input type="text" class="form-control" required>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label for="author" class="col-3 col-form-label">Author</label>
                            <div class="col-9">
                                <input type="text" class="form-control" id="author">
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="ml-auto mr-4">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Request</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


    <!--CONTACT US MODAL -->
    <div class="modal fade" id="contactModal" tabindex="-1" aria-labelledby="contactModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="contactModalLabel">Contact Us</h5>
                    <button type="button" class="close text-light" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group row">
                            <label for="fullName" class="col-3">Full Name</label>
                            <div class="col-9">
                                <input type="text" name="fulllName" class="form-control" id="fullName" required>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="email" class="col-3">Email</label>
                            <div class="col-9">
                                <input type="email" name="email" class="form-control" id="fullName" required>
                                <small id="emailHelp" class="text-warning">We'll never share your email with anyone
                                    else.</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="telNum" class="col-3">Mobile <small>(optional)</small></label>
                            <div class="col-9">
                                <input type="tel" name="telNum" id="telNum" class="form-control">
                                <small id="telNumHelp" class="text-warning">We'll never share your mobile no. with anyone else.</small>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="feedback" class="col-12 col-sm-3">Message</label>
                            <div class="col-12 col-md-9">
                                <textarea name="feedback" id="feedback" cols="35" rows="5"
                                    placeholder="Write your message here.." required></textarea>
                            </div>
                        </div>

                        <div class="form-group row">
                            <div class="ml-auto mr-4">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                        </div>


                    </form>
                </div>
            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

</html>
